/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 *
 */

body { 
	margin: 0; padding: 0; 
	min-width: 1000px;
	overflow-y: scroll; 
	font: 15px/24px 'Helvetica', sans-serif;
	letter-spacing: em(1);
}

// Header
header {
	text-align: center;
	height: 150px;
	h1 {
		margin-top: 55px;
		height: 100%;
		vertical-align: middle;
		display: inline-block;
		text-indent: -9999px;
		width: 330px;
		height: 60px;
		background: transparent url('/images/logo.png');
		background-image: url('/images/logo.svg'), none;
	}
}

// Navigation
nav {
	min-width: 1000px;
	padding: em(25) em(70);
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	background: white;
	z-index: 9999;
	.main { 
		background: white;
		box-shadow: 2px 2px 2px white;
		display: inline-block;
		position: relative;
		z-index: 9999;
		box-shadow: 0px 20px 20px 28px white;
		& > li {
			display: inline-block;
			padding: 0 em(17); 
		}
		a { color:lighten(black, 60%); }
		a:hover, a.active { color: black; }
	}
	
	.studio {
		position: absolute;
		width: 140px;
		display: block;
		bottom: em(70);
		margin-left: em(-22);
		background: rgba(255,255,255,0.8);
		text-align: left;
		padding: em(15) em(20) 0 em(22);
		overflow: hidden;
		margin-bottom: -200px;
		z-index: 8888;
		@include transition(all cubic-bezier(0.86, 0, 0.07, 1) .6s);
		&.open {
			margin-bottom: -15px;
		}
		li {
			padding-bottom: em(5); 
		}
		a { color:lighten(black, 60%); }
		a:hover { color: black; }
	}


	.social {
		position: absolute;
		right: em(70);
		bottom: em(25);
		& > li {
			display: inline-block;
			text-indent: -9999px;
			width: 18px; height: 18px;
			background-color: black;
			background-image: url('/images/social.png');
			background-image: url('/images/social.svg'), none;
			background-repeat: none;
			background-position: 0 0;
			border-radius: 9px;
			margin-right: em(2);

			&:hover, a.active { background-color: tint(black, 60%); }
			&:nth-child(2) { background-position: -18px 0; }
			&:nth-child(3) { background-position: -36px 0; }
			&:nth-child(4) { background-position: -54px 0; }
		}

	}
}

// Home
.home {
	padding: 0 em(70);
	text-align: center;
	img {
		max-height: 100%;
		min-width: 900px;
	}
}

.projects, .project {
	width: 100%;
	overflow-x: hidden; 
	padding-bottom: em(100);	

	section:first-child {
		h4 { padding-top: 0; }
	}

	h4 { 
		font: normal 15px/20px 'Helvetica', sans-serif;
		color: tint(black, 60%);
		padding: em(5) 0 em(3) em(52);
		
	}
// 	section > div {
// 		a { display: inline-block; white-space: nowrap; height: 100%;
// 			img { max-height: 100%; }
// 		}
// 	}
// }
}

.studio, .news, .sustainability, .conservation, .contact {
	@include outer-container;
	.image {
		@include span-columns(7);
		
	}
	.text {
		@include span-columns(5);
		padding: 0 0 0 em(30);
		font-size: 13px;
		color: black;
		line-height: 22px;

		h2 {
			font: normal 13px/22px 'Helvetica', sans-serif;
			letter-spacing: em(1);
			padding-bottom: em(12);
		}
	}
}

.single {
	min-width: 1150px;
	padding: em(60) em(50);
	
	.close {
		width: 30px;
		height: 30px;
		position: absolute;
		display: block;
		right:20px;
		margin-top: -20px;
		padding: 14px 0 0 5px;
		z-index: 8888;
		&:before {
			content: ' ';
			position: absolute;
			width:20px;
			height:2px;
			background: #666;
			@include transform-origin(50% 50%);
			@include transform(rotate(-45deg));
		}
		&:after {
			content: ' ';
			position: absolute;
			width:20px;
			height:2px;
			background: #666;
			@include transform-origin(50% 50%);
			@include transform(rotate(45deg));
		}
		&:hover {
			&:before, &:after { background: #000; }
		}		
	}

	// RoyalSlider stuffs
	.rsSlide, .rsOverflow, .rsDefault {
		background: transparent;
	}
	.rsImg .rsMainSlideImage {
		margin: 0;
		padding: 0;
	}
	.rsArrowIcn {
		background: transparent;
		opacity: 1;
		padding: 15px 0 0 10px;
		transform-origin: 0px 0px !important;
		&:before {
			content: ' ';
			position: absolute;
			width:15px;
			height:2px;
			background: #666;
			@include transform-origin(0% 100%);
			@include transform(rotate(-45deg));
		}
		&:after {
			content: ' ';
			position: absolute;
			width:15px;
			height:2px;
			background: #666;
			@include transform-origin(0% 0%);
			@include transform(rotate(45deg));
		}
		&:hover {
			background-color: transparent !important;
			&:before, &:after { background: #000; }
			
		} 
	}
	.rsArrowLeft {
		margin-left: -44px;
		z-index: 8888;
		position: absolute;
		.rsArrowIcn {
			&:before { 
				@include transform(rotate(-45deg));
			}
			&:after { 
				@include transform(rotate(45deg));
			}
		}
		
	}
	.rsArrowRight {
		margin-right: -44px;
		z-index: 8888;
		position: absolute;
		.rsArrowIcn {
			&:before { 
				@include transform-origin(100% 0%);
				@include transform(rotate(45deg));
			}
			&:after { 
				@include transform-origin(100% 100%);
				@include transform(rotate(-45deg));
			}
		}
	}	

	.image {
		@include span-columns(7);
		
	}
	.text {
		@include span-columns(5);
		padding: 0 em(100) 0 em(30);
		font-size: 13px;
		color: black;
		line-height: 22px;

		h2 {
			font: normal 13px/22px 'Helvetica', sans-serif;
			letter-spacing: em(1);
			padding-bottom: em(12);
		}
	}

}

.people, .awards, .publications {
	width: 100%;
	height: 100%;
	padding: em(60) 0 0 0;
	.jThumbnailScroller {
		height: 500px !important;
		padding: 0 em(100) 0 em(100);
	}
	.jTscroller {
		& > div {
			display: block;
			float: left;
			width: 330px; 
			height: 500px;
			margin: 0;
			margin-right: 40px;
			color: black;
			font: normal 14px/22px 'Helvetica', sans-serif;
			img {
				padding-bottom: 10px;
			}
			p {
				padding-bottom: 10px;
				padding-right: 20px;
			}
			h2 {
				font: normal 14px/22px 'Helvetica', sans-serif;
				letter-spacing: em(1);
				padding-bottom: 15px;
			}
			a { margin: 0; display: inline-block; float: none; }
		}
	}
}
.people {
	background: url('http://placehold.it/50x50/e6e6e6/ffffff') 0 0 repeat;
}
